<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="cn.sidekey.menu" android:versionCode="111" android:versionName="1.1.1-test.1">
    <uses-sdk android:minSdkVersion="35" android:targetSdkVersion="35" />
    <uses-permission android:name="android.permission.INTERNET" />
    <queries>
        <intent><action android:name="android.intent.action.MAIN" /><category android:name="android.intent.category.LAUNCHER" /></intent>
    </queries>
    <application android:label="侧键快捷菜单" android:theme="@style/MenuTheme" android:allowBackup="false" android:supportsRtl="true" android:usesCleartextTraffic="false">
        <activity android:name=".MenuActivity" android:exported="false" android:excludeFromRecents="true" android:launchMode="singleTask" android:configChanges="orientation|screenSize|screenLayout|keyboardHidden|uiMode" />
        <activity android:name=".LogExportActivity" android:label="导出侧键日志" android:exported="false" android:excludeFromRecents="true" android:taskAffinity="cn.sidekey.menu.export" android:configChanges="orientation|screenSize|screenLayout|keyboardHidden|uiMode" />
    </application>
</manifest>
